<div fxFlex="100" fxLayout="column" fxLayoutAlign="center">
    <div fxLayout="row" fxLayoutAlign="end center">
         <button color="basic" mat-icon-button mat-dialog-close>
             <mat-icon>close</mat-icon>
         </button>
    </div>
     <div class="m-2" fxLayout="row" fxLayoutAlign="center center">
         <mat-icon class="iconBlue" svgIcon="done"> </mat-icon>
     </div>     
     <div class="m-2"  fxLayout="row" fxLayoutAlign="center center">
         <p  class="text text-center fwb ">Success</p> 
     </div>
       
     <mat-dialog-actions  fxLayout="row" fxLayoutAlign="center center">
         <button color="primary" mat-raised-button mat-dialog-close>Okay</button>
     </mat-dialog-actions>
 </div>
 